# netbox_inventory.yml file in YAML format
#
# Exemple comand line: NETBOX_TOKEN=8b ansible-inventory -v --list -i inventory/netbox_tags.yaml
# corp

api_endpoint: "https://exemple.com"
# NetBox inventory plugin also supports Constructable semantics
# token: env: NETBOX_TOKEN 

plugin: netbox.netbox.nb_inventory
validate_certs: True
config_context: True

#fetch_all: True
flatten_custom_fields: True

interfaces: True

group_by:
  - tags


# NetBox inventory plugin also supports Constructable semantics
# You can fill your hosts vars using the compose option:

# plugin: netbox
compose:
  ansible_user: local_context_data.ansible_user
  custom_fields: custom_fields 

  # nested_variable: rack.display_name
  #ansible_password: local_context_data.user_password
